# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

todo.txt
# testing
/coverage

# production
/build

/src/pages/add-product-form/add-product-photo-V1

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
to-do.txt
todo-list.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/workspace.xml
.vscode/settings.json
