/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/montserrat-v15-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v15-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/montserrat-v15-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v15-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-300 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/merriweather-v22-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/merriweather-v22-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/merriweather-v22-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/merriweather-v22-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/merriweather-v22-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/merriweather-v22-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-900 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/merriweather-v22-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/merriweather-v22-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --main-text-color: #2a2a50;
  --secondary-text-color: #d3b574;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-site-name {
  color: #111325;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 1rem;
}
.navbar-menyu-links {
  list-style: none;
  padding: 0;
}
.navbar-menyu-links > li {
  display: inline-block;
}
.navbar-menyu-links li a,
.navbar-toggle-menyu {
  text-decoration: none;
  color: var(--main-text-color) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  padding: 0.8rem;
  transition: all 0.5s ease;
  text-transform: capitalize !important;
  font-family: inherit;
}
.navbar-menyu-links li a:hover,
.navbar-toggle-menyu:hover {
  color: var(--secondary-text-color) !important;
  background-color: transparent !important;
}
.navbar-toggle-menyu + div {
  transform: none;
}
.navbar-department-link > div {
  transform: none !important;
  top: inherit !important;
  left: inherit !important;
}
.home-page-welcome {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(42, 42, 80, 0.8),
      rgba(42, 42, 80, 0.5)
    ),
    url(./assets/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page-welcome h1 {
  font-size: 75px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #fff;
  font-family: "Merriweather", serif;
  text-align: center;
}
.home-page-welcome p {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.login-button {
  display: block !important;
  margin-left: auto !important ;
}
.login-header-icon {
  margin-right: 1rem;
}
#back-to-top-anchor {
  min-height: 0 !important;
}
.welcome-header {
  max-width: 620px;
}

.foriegn-body {
  min-height: 100vh;
  background-color: white;
  padding: 50px 0px;
}
.book-card {
  padding: 2rem 0px;
  padding-right: 2rem;
}
.media {
  background-color: #f8f8f8;
  padding: 1rem;
  position: relative;
}
.media:hover .book-icons {
  transform: scale(1);
}
.media:hover .book-icons a {
  transform: rotate(0) translate(0px);
}
.foriegn-book-cover {
  display: block;
  margin: 0 auto;
  height: 280px;
  width: 200px;
  object-fit: cover;
  -webkit-box-shadow: 16px 16px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 16px 16px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 16px 16px 8px 0px rgba(34, 60, 80, 0.2);
}
.book-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0px;
}
.book-body * {
  margin: 0;
  padding: 0;
}
.book-name {
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 16px;
}
.book-author {
  font-size: 14px;
  font-weight: normal;
  color: var(--main-text-color);
}
.foriegn-book-cover img {
  width: 100%;
}
.foriegn-book-header {
  color: var(--main-text-color);
  text-align: center;
  font-size: 30px;
}
.book-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transform: scale(0);
}
.book-icons a {
  text-decoration: none;
  color: var(--main-text-color);
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.book-icons a:first-child {
  transform: translate(-90px, -50px);
}
.book-icons a:nth-child(2) {
  transform: translate(0px, 90px);
}
.book-icons a:nth-child(3) {
  transform: translate(90px, 50px);
}
.container {
  width: 900px;
  margin: 0 auto;
}
.science-input {
  display: flex;
  flex-wrap: wrap;
}
.science-input > div {
  text-align: center;
  margin: 1rem 0px;
  display: flex;
  align-items: center;
}
.science-input > div input {
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid var(--secondary-text-color);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 16px;
  margin: 0px 0.5rem;
}
.science-input > div label {
  text-align: left;
  font-size: 16px;
  color: var(--main-text-color);
  font-weight: 700;
  text-transform: capitalize;
}
.science-textarea textarea {
  border: 1px solid var(--secondary-text-color);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 16px;
  outline: none;
  margin-left: 0.5rem;
}
.science-checkbox select {
  margin: 0 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-text-color);
  color: var(--main-text-color);
  font-size: 14px;
  outline: transparent;
}
.science-submit {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  border: 1px solid var(--secondary-text-color);
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  font-weight: bolder;
  transition: all 0.5s ease;
}
.science-submit:hover {
  color: var(--secondary-text-color);
  background-color: var(--main-text-color);
}
.journal_names_select {
  margin: 0px 1rem;
  background-color: transparent;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: var(--main-text-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 8px;
  padding: 8px;
}

/* Header  */
.resources-info {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  transition: 2s;
}
.resources-info > div {
  position: relative;
  top: -80px;
  color: var(--main-text-color);
  /* left: -100%; */
  width: 30%;
  transition: 2s;
}

.resources-info > div a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  color: var(--main-text-color);
  background-color: var(--secondary-text-color);
  border-radius: 8px;
  transition: 0.25s ease;
}
.resources-info > div a:hover {
  color: white;
}
.sitation-section {
  position: relative;
}
.sitation {
  position: relative;
}
.sitation > * {
  padding-left: 30px;
}
.sitation::before {
  content: "";
  width: 30px;
  height: 100%;
  display: block;
  background-color: var(--secondary-text-color);
  position: absolute;
  top: 0;
  left: 0;
}
.home-about {
  margin: 50px 0px;
  background-color: var(--main-text-color);
  min-height: 50vh;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container > div {
  padding: 2rem 0px;
  width: 42%;
}

.home-container > div:first-child {
  color: #fff;
}
.home-about-text h2 {
  font-size: 2rem;
  text-align: center;
}
.home-about-text a {
  color: var(--main-text-color);
  background-color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 16px;
  padding: 16px;
  display: inline-block;
  margin: 16px 0px;
  transition: 0.3s ease;
}
.home-about-text a:hover {
  background-color: #fff;
}
.home-about-card > div {
  width: 48%;
  background-color: white;
  padding: 16px;
  margin-top: 16px;
  position: relative;
}
.home-about-card > div::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease;
}
.home-about-card > div:hover::before {
  background-color: var(--secondary-text-color);
}
.home-about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-about-card h4 {
  color: var(--main-text-color);
  text-align: center;
  font-size: 16px;
}
.home-about-card {
  color: gray;
  font-size: 12px;
}
.visiblity-button {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  left: -3rem;
  top: 3px;
}
.team-members {
  margin: 5rem 0px;
}
.team-picture {
  width: 300px;
  height: 200px;
}
.main-footer {
  background-color: var(--main-text-color);
  color: white;
  font-size: 16px;
  font-weight: bolder;
  margin-top: auto;
}
.main-footer a,
.main-footer svg {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}
.main-footer a:hover {
  color: var(--secondary-text-color);
}
